# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Data (later if too heavy)
data/
*.xdf
